* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #000000;
}

h1{
    color: #ffffff;
    text-align: center;
}

main{
    background-color:#acacac;
    padding: 20px;
    border-radius: 10px;

    min-width: 320px;
    max-width: 880px;
    margin:auto;
}

img{
    width: 100%;
}

iframe{
    width: 100%;
}

nav{
    background-color:#acacac;
    padding: 10px;
    text-align: center;
}

nav > a {
    color:#000000;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > a:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}



header {
    background-color:rgb(0, 0, 0);
    min-height: 0.5px;
    text-align: center;
    padding-top: 40px;
}

#containerTotal {

    padding: 0px 20px 30px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
}
    

.containerDivs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.demoDiv {
    width: 30%;
    border: 5px outset #000000;
    background-color: #000000;
    font-weight: 400;
    text-align: center;
}